

<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shark Defi</title>
    <link rel="stylesheet" href="../static/css/style%EF%B9%96v=65.css">
    <link rel="stylesheet" href="../static/css/libs%EF%B9%96v=65.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<style>[v-cloak]{
        display: none;
    }
</style>
<body>
<div class="app" v-cloak="">
    <main class="main">
        <header class="header">
            <div class="container">
                <a href="" class="logo">
                    <img src="../static/img/svg/logo.svg" alt="">
                </a>
                <menu class="menu m-none">
                    <div>
                        <a href="https://justswap.org/?lang=en-US#/home?tokenAddress=TLWAwUn79CVehz91A4J9nbh6SPPvDdhba1&amp;type=swap" target="_blank">giao dịch swd</a>
                        <a target="_blank" href="../static/whitepaper.pdf">whitepaper</a>
                    </div>
                    <ul class="soc">
                        <li><a href="https://twitter.com/shark_tron" target="_blank">
                            <img src="../static/img/svg/main/tw_white.svg" alt="">
                        </a></li>
                        <li data-toggle="soc">
                            <a href="#" target="_blank">
                                <img src="../static/img/svg/main/tl_white.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="lang" class="lang">
                                <img src="../static/img/flags/vi.png" alt="">
                            </a>
                        </li>
                    </ul>
                    <button class="button blue" :data-toggle="user ? '' : 'login'"><img
                            src="../static/img/svg/main/user.svg" alt=""
                            style="margin-left: 0; margin-right: 15px;">[user ? user_login : 'unlock wallet']
                    </button>
                </menu>
                <button class="burger d-none" data-toggle="menu">
                    <img src="../static/img/svg/burger.svg" alt="">
                </button>
            </div>
        </header>

        
    <div class="global_section defi">

        <div class="container container__header">
            <div class="total_staked m-none" v-if="total_staked.srx > 0">
                <h2 class="text-right">tổng số tiền đặt cược bây giờ</h2>
                <h3 class="text-right">[parseFloat(882806+ total_staked.srx).Crop(2)] <span>SRX</span></h3>
                <h3 class="text-right">[parseFloat(657076 + total_staked.trx - 128000000).Crop(2)] <span>TRX</span>
                </h3>
                <h3 class="text-right">[parseFloat(70635 +total_staked.tth).Crop(2)] <span>TTH</span></h3>
            </div>
            <div class="curses_d m-none"
                 style="position: absolute; top : 23px; right: 15px;font-weight: 500;font-size: 14px;color: #8990f7;">
                <span style="margin-right: 57px">1 SWD ~ [price_token_trx] TRX</span>
                <span>1 SWD ~ [price_token] USDT</span>
            </div>
            <div class="b d-none">
                <img src="../static/img/png/2.gif" alt="">
            </div>

            <img class="d-none" src="../static/img/png/1.gif" alt="">
            <img class="animate1 m-none" src="../static/img/png/1.gif" alt="">

            <h2>sword token</h2>
            <h3>khai thác đã bắt đầu</h3>
            <h4 class="d-none">1 swd =[price_token_trx] trx</h4>
            <div class="progress">
                <div class="b m-none">
                    <img src="../static/img/png/2.gif" alt="">
                    <img src="../static/img/png/3.gif" alt="">
                </div>
                <img src="../static/img/svg/m.svg" alt="">
                <div class="progress__title">cấp độ [currentLvl] / 15</div>
                <div class="progress__progress">
                    <div :style="{'width' : procentToken+'%'}"></div>
                </div>
                <div class="progress__left"><b>trái:</b> [left.Crop(4)] SWD</div>
                <button class="button purple" data-toggle="level"> chi tiết <img
                        src="../static/img/svg/arrow.svg"
                        alt=""></button>
            </div>

            <div class="total_staked d-none">
                <h2>tổng số tiền đặt cược bây giờ:</h2>
                <h3>[parseFloat(882806+ total_staked.srx).Crop(2)] <span>SRX</span></h3>
                <h3>[parseFloat(657076 + total_staked.trx - 128000000).Crop(2)] <span>TRX</span></h3>
                <h3>[parseFloat(70635 +total_staked.tth).Crop(2)] <span>TTH</span></h3>
            </div>
        </div>
        <div class="mining">
            <div class="container">
                <h2>khai thác mã thông báo sword</h2>
                <div class="mining-block">
                    <div class="mining__list">
                        <div class="mining__item mining__item--blue">
                            <div class="mining__item-ava">
                                <img src="../static/img/svg/srx.svg" alt="">
                            </div>
                            <div class="mining__item-info">
                                <button class="button blue-white" data-toggle="stake" @click="select_token = 'srx'"
                                        v-if="active">
                                    cổ phần srx <img src="../static/img/svg/arrow.svg" alt="">
                                </button>
                                <div>
                                    <h2><b>tiền cược của bạn:</b></h2>
                                    <h2>[user_stake.srx] SRX</h2>
                                </div>
                                <a href="" class="text-blue" @click.prevent="unfreeze('srx')">dỡ bỏ</a>
                            </div>
                        </div>
                        <div class="mining__item mining__item--green">
                            <div class="mining__item-ava">
                                <img src="../static/img/svg/tth.svg" alt="">
                            </div>
                            <div class="mining__item-info">
                                <button class="button green" data-toggle="stake" @click="select_token = 'tth'"
                                        v-if="active">cổ phần tth
                                    <img src="../static/img/svg/arrow.svg"
                                         alt="">
                                </button>
                                <div>
                                    <h2><b>tiền cược của bạn:</b></h2>
                                    <h2>[user_stake.tth] TTH</h2>
                                </div>
                                <a href="" class="text-green" @click.prevent="unfreeze('tth')">dỡ bỏ</a>
                            </div>
                        </div>
                        <div class="mining__item mining__item--red">
                            <div class="mining__item-ava">
                                <img src="../static/img/svg/trx.svg" alt="">
                            </div>
                            <div class="mining__item-info">
                                <button class="button red" data-toggle="stake" @click="select_token = 'trx'"
                                        v-if="active">cổ phần trx
                                    <img src="../static/img/svg/arrow.svg"
                                         alt="">
                                </button>
                                <div>
                                    <h2><b>tiền cược của bạn:</b></h2>
                                    <h2>[user_stake.trx] TRX</h2>
                                </div>
                                <a href="" class="text-red" @click.prevent="unfreeze">dỡ bỏ</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel__right">
                        <div class="panel__content">
                            <h3>số dư mã thông báo sword</h3>
                            <h2>[avaiable] <span>SWD</span></h2>
                            <img src="../static/img/png/m.png" alt="">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Trên giờ</td>
                                    <td>
                                        [per_hour.Crop(4)] SWD
                                        <span class="text-blue"> ~ [per_hour_price.Crop(4)] USD</span></td>
                                </tr>
                                <tr>
                                    <td>Per day</td>
                                    <td>
                                        [parseFloat(per_hour * 24).Crop(4)] SWD
                                        <span class="text-blue">~ [parseFloat(per_hour_price * 24).Crop(4)] USD</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10 ngày một lần</td>
                                    <td>
                                        [parseFloat(per_hour * 24 * 10).Crop(4)] SWD
                                        <span class="text-blue">~ [parseFloat(per_hour_price * 24 *10).Crop(4)] USD</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="button blue" @click.prevent="getMyToken">
                                rút tiền <img src="../static/img/svg/arrow.svg" alt="">
                            </button>
                            <a href="#" data-toggle="withdraw" class="text-blue">Số liệu thống kê</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 style="color: #1D1D3D;font-size: 30px; text-align: center; margin-bottom:40px;">thu nhập từ giới thiệu của bạn</h3>
            <div class="ref">

                <div class="ref__left"><h4>liên kết giới thiệu của bạn</h4> <input type="text" id="ref"
                                                                                        :value="ref_link"
                                                                                        readonly>
                    <button class="button purple" @click.prevent="copy">sao chép đường dẫn <img
                            src="../static/img/svg/arrow.svg" alt=""></button>
                    <p>Với liên kết giới thiệu này, bạn có thể mời người dùng mới và nhận mã thông báo Sword làm phần thưởng</p>
                    <p class="text-uppercase fz14 fw500">
                        PHẦN THƯỞNG LÀ 10% CỦA mã thông báo SWORD ĐƯỢC KHAI THÁC BỞI SỰ THAM KHẢO CỦA BẠN</p></div>
                <div class="ref__right">
                    <div class="ref__right-content">
                        <h4>phần thưởng có sẵn</h4>
                        <h3>[referral_money] <span>SWD</span></h3>
                        <button class="button purple d-none"
                                @click.prevent="getReferralMoney">rút vào ví
                            <img src="../static/img/svg/arrow.svg" alt="">
                        </button>
                        <button class="button blue m-none"
                                @click.prevent="getReferralMoney">rút vào ví
                            <img src="../static/img/svg/arrow.svg" alt="">
                        </button>
                    </div>
                    <div class="ref__right-footer">
                        <h4>tổng số giới thiệu: <b>[total_referral]</b></h4>
                        <a href="#" data-toggle="referral">thống kê giới thiệu</a>
                    </div>
                </div>
            </div>

            <section class="coming m-none" style="background: transparent; margin-bottom: 0; padding-top: 0">

                <h3 style="color: #1D1D3D;font-size: 30px; text-align: center; margin-bottom:40px;">SHARK TRON PLATFORM SERVICES</h3>
                <ul>
                    <li style="cursor: pointer" onclick="window.open('http://sharktron.com/')">
                        <i><img style="margin-top: 13px; opacity: 1;z-index: 1"
                                src="../static/img/coming/1-1.png" alt=""></i>
                        <b>shark tron</b>
                        <span>available</span>
                    </li>
                    <li style="cursor: pointer" onclick="window.open('http://diceshark.com/')">
                        <i><img style="margin-top: 43px; opacity: 1;z-index: 1"
                                src="../static/img/coming/1.png" alt=""></i>
                        <b>shark dice</b>
                        <span>available</span>
                    </li>
                     <li onclick="window.open('http://sharkinvest.io/')" style="cursor: pointer">
                                <i><img style="margin-top: -5px; z-index: 1; opacity: 1;margin-left: -25px;" src="../static/img/coming/si.svg" alt=""></i>
                                <b>shark invest</b>
                                <span>available</span>
                            </li>
                    <li>
                        <i><img style="margin-top: 43px" src="../static/img/coming/2.png" alt=""></i>
                        <b>shark casino</b>
                        <span>coming soon</span>
                    </li>
                    <li>
                        <i><img style="margin-top: 23px" src="../static/img/coming/3.png" alt=""></i>
                        <b>shark Exchange</b>
                        <span>coming soon</span>
                    </li>
                    <li>
                        <i><img style="margin-top: 43px" src="../static/img/coming/4.png" alt=""></i>
                        <b>shark Bet</b>
                        <span>coming soon</span>
                    </li>
                </ul>

            </section>

        </div>
    </div>

    </main>
    <footer>
        <div class="container">
            <a class="logo">
                <img src="../static/img/svg/logo.svg" alt="">
            </a>
            <ul>
                <li><a href="https://justswap.org/?lang=en-US#/home?tokenAddress=TLWAwUn79CVehz91A4J9nbh6SPPvDdhba1&amp;type=swap" target="_blank">giao dịch swd</a></li>
                <li><a target="_blank" href="../static/whitepaper.pdf">whitepaper</a></li>
            </ul>
            <div class="soc">
                <li><a href="https://twitter.com/shark_tron" target="_blank" onclick="window.open('https://twitter.com/shark_tron')">
                    <img src="../static/img/svg/main/tw.svg" alt="">
                </a>
                </li>
                <li><a data-toggle="soc"  href="#" target="_blank" >
                    <img src="../static/img/svg/main/tl.svg" alt="">
                </a></li>
                <li><a href="#" data-toggle="lang" class="lang">
                    <img src="../static/img/flags/vi.png" alt="">
                </a></li>
            </div>
            <a href="" class="copyright">Copyright © All rights reserved</a>
        </div>
    </footer>

    

<div class="modal" data-modal="withdraw">
    <div class="modal__container" style="max-width: 500px">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="modal-content">
            <div class="container">
                <h2>THỐNG KÊ RÚT TOKEN</h2>
                <table>
                    <thead>
                    <tr>
                        <td>số tiền rút mã thông báo</td>
                        <td>ngày giờ</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="w in withdraw">
                        <td><b class="text-dark-blue">[parseFloat(w.amount/1000000).Crop(6)]</b> SWD</td>
                        <td>[w.date]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="login">
    <div class="modal__container" style="max-width: 500px">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="modal-content">
            <div class="container modal-login">
                <h2>AUTHORIZATION</h2>
                <p>Please sign in to your TRON wallet. If you haven’t downloaded the Install TronLink browser extension
                    or the TronWallet application for your smartphone by clicking on the button below if you didn't this
                    yet.</p>
                <p><b>Make sure you are on the mainnet network. Do not use a test network.</b></p>
                <div>
                    <a href="https://www.tronlink.org/" target="_blank" class="button green">tron link</a>
                    <a href="https://www.tronwallet.me/" target="_blank" class="button blue">tron wallet</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="referral">
    <div class="modal__container" style="max-width: 500px">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="modal-content">
            <div class="container">
                <h2>THỐNG KÊ RÚT TOKEN</h2>
                <table>
                    <thead>
                    <tr>
                        <td>số tiền rút mã thông báo</td>
                        <td>ngày giờ</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="w in referral">
                        <td><b class="text-dark-blue">[parseFloat(w.amount/1000000).Crop(6)]</b> SWD</td>
                        <td>[w.date]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="lang">
    <div class="modal__container modal-lang">
        <button class="close">
            <img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="container">
            <ul>
                
                    <li><a href="../index.html"><img src="../static/img/flags/en.png"
                                                                             alt=""></a><span>English</span></li>
                
                    <li><a href="../zh-hans/index.html"><img src="../static/img/flags/zh-hans.png"
                                                                             alt=""></a><span>中文</span></li>
                
                    <li><a href="../ru/index.html"><img src="../static/img/flags/ru.png"
                                                                             alt=""></a><span>Русский</span></li>
                
                    <li><a href="../fa/index.html"><img src="../static/img/flags/fa.png"
                                                                             alt=""></a><span>farsi</span></li>
                
                    <li><a href="../es/index.html"><img src="../static/img/flags/es.png"
                                                                             alt=""></a><span>espanol</span></li>
                
                    <li><a href="index.html"><img src="../static/img/flags/vi.png"
                                                                             alt=""></a><span>tiếng Việt</span></li>
                
            </ul>
        </div>
    </div>
</div>

<div class="modal" data-modal="soc">
    <div class="modal__container modal-soc">
        <button class="close">
            <img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="container">
            <h2>contact us</h2>
            <ul>
                <li onclick="window.open('https://telegram.me/Shark_Tron')">
                    <i><img src="../static/img/flags/en.png" alt=""></i>
                    <div>
                        <h3>english</h3>
                        <h5>telegram group</h5>
                        <h4>@Shark_Tron</h4>
                    </div>
                </li>
                <li onclick="window.open('https://t.me/Shark_Persian')">
                    <i><img src="../static/img/flags/fa.png" alt=""></i>
                    <div>
                        <h3>iranian</h3>
                        <h5>telegram group</h5>
                        <h4>@Shark_Persian</h4>
                    </div>
                </li>
                <li onclick="window.open('https://t.me/Shark_chinese')">
                    <i><img src="../static/img/flags/zh-hans.png" alt=""></i>
                    <div>
                        <h3>chinese</h3>
                        <h5>telegram group</h5>
                        <h4>@Shark_chinese</h4>
                    </div>
                </li>
                <li onclick="window.open('https://t.me/Shark_Spanish')">
                    <i><img src="../static/img/flags/es.png" alt=""></i>
                    <div>
                        <h3>spanish</h3>
                        <h5>telegram group</h5>
                        <h4>@Shark_Spanish</h4>
                    </div>
                </li>
                <li onclick="window.open('https://t.me/Shark_Tron_Philippines')">
                    <i><img src="../static/img/flags/ph.png" alt=""></i>
                    <div>
                        <h3>Philippines</h3>
                        <h5>telegram group</h5>
                        <h4>@Shark_Tron_Philippines</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal" data-modal="menu">
    <div class="modal__container modal-menu">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="container">
            <div class="wallet_info">
                <h6>ví của bạn</h6>
                <h5 v-if="user">[user_login]</h5>
                <button class="button green" v-if="!user" data-toggle="login">login</button>
            </div>
            <menu>
                <li><a href="https://justswap.org/?lang=en-US#/home?tokenAddress=TLWAwUn79CVehz91A4J9nbh6SPPvDdhba1&amp;type=swap" target="_blank">giao dịch swd</a></li>
                <li><a target="_blank" href="../static/whitepaper.pdf">whitepaper</a></li>
                <li><a target="_blank" href="https://diceshark.com/">diceshark</a></li>
                <li><a target="_blank" href="https://sharktron.com/">sharktron</a></li>
                
            </menu>
            <ul class="soc">
                <li onclick="window.open('https://twitter.com/shark_tron')"><a href="https://twitter.com/shark_tron"
                                                                               target="_blank">
                    <img src="../static/img/svg/main/tw.svg" alt="">
                </a>
                </li>
                <li >
                    <a href="#" data-toggle="soc" target="_blank">
                        <img src="../static/img/svg/main/tl.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="lang" class="lang">
                        <img src="../static/img/flags/vi.png" alt="">
                    </a>
                </li>
            </ul>
            <a href="" class="copyright">Copyright © All rights reserved</a>
        </div>
    </div>
</div>

<div class="modal" data-modal="statistics">
    <div class="modal__container" style="max-width: 750px">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="modal-content">
            <div class="container">
                <h2>thống kê tài chính</h2>
                <table>
                    <thead>
                    <tr>
                        <td>SỐ TIỀN CẮM</td>
                        <td class="m-none">Hành động đã thực hiện</td>
                        <td>ngày giờ</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="w in statistics">
                        <td>
                            <b>[parseFloat(w.amount/1000000).Crop(6)]</b> trx
                            <span class="d-none"
                                  :class="{'text-green' : w.type ==='freeze' , 'text-blue' : w.type !== 'freeze'}">[w.type =='freeze' ? 'Đăng cam kết' : 'Trả lại tiền đặt cọc']</span>
                        </td>
                        <td class="m-none"
                            :class="{'text-green' : w.type ==='freeze' , 'text-blue' : w.type !== 'freeze'}">
                            [w.type =='freeze' ? 'Đăng cam kết' :
                            'Trả lại tiền đặt cọc']
                        </td>
                        <td>[w.date]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-modal="level">
    <div class="modal__container modal-stat" style="max-width: 857px">
        <button class="close"><img src="../static/img/svg/main/close.svg" alt=""></button>
        <div class="modal-content">
            <div class="container">
                <h3 style="margin-top: 40px;">TỶ GIÁ KHAI THÁC TOKEN SWORD HIỆN TẠI</h3>

                <div class="stat-progress">
                    <div class="stat-progress__header">
                        <h4>cấp độ: [currentLvl] <span>/ 15</span></h4>
                        <h5>mã thông báo còn lại ở cấp độ hiện tại</h5>
                        <h6>[parseFloat(level.amount - period_mined).Crop(2)] SWD / <span>[level.amount] SWD</span></h6>
                    </div>
                    <div class="stat-progress__footer">
                        <div>
                            <div :style="{'width' : procentToken+'%'}"></div>
                        </div>
                        <h4>giá trị mã thông báo Sword: <b>~ [price_token_trx] TRX</b></h4>
                    </div>
                </div>

                <p>Khai thác mã thông báo SWORD được thực hiện bằng cách đặt mã thông báo TRX, SRX và TTH.
Người dùng có thể đóng băng và giải phóng mã thông báo của họ bất kỳ lúc nào. Ưu đãi mã thông báo SWD
giới hạn ở 50.000.000 mã thông báo. Quá trình khai thác được chia thành 15 cấp độ. Mỗi cấp độ đều có giới hạn
một số lượng mã thông báo nhất định. Quá trình chuyển đổi sang mỗi cấp độ được thực hiện tự động mà không cần
sự cần thiết của những đồng xu khó khăn.</p>
                <h3>CHÍNH XÁC CỦA TOKENS SWORD</h3>
                <p>Mã thông báo SWD được ghi có trong thời gian thực. Số lượng ghi có
mã thông báo phụ thuộc
từ số tiền bị đóng băng, mã thông báo và cấp độ khai thác. Xin lưu ý rằng lợi nhuận của việc khai thác SWD
cố định trong TRX. Đối với mã thông báo SRX hoặc TTH, nó có thể thay đổi tùy thuộc vào tỷ giá hối đoái của chúng.
quan hệ với TRX.</p>
                <h3>Bảng cấp độ khai thác và tích lũy mã thông báo Sword:</h3>

                <table class="d-none">
                    <thead>
                    <tr>
                        <td>level</td>
                        <td>EARNINGS IN 24 HOURS</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(l , k) in listlevel">
                        <td><b>[k+1]</b>/ [l.amount] SWD</td>
                        <td>
                            <span>1 srx = <b>[parseFloat(l.srx).toFixed(6).Crop(6)] SWD</b></span>
                            <span>1 tth = <b>[parseFloat(l.tth).toFixed(6).Crop(6)] SWD</b></span>
                            <span>1 trx = <b>[parseFloat(l.trx).toFixed(6).Crop(6)]  SWD</b></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="m-none stat-table">
                    <thead>
                    <tr>
                        <td>level</td>
                        <td colspan="3">EARNINGS IN 24 HOURS</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(l , k) in listlevel">
                        <td><b>[k+1]</b>/ [l.amount] SWD</td>
                        <td>1 trx = <b>[parseFloat(l.trx).toFixed(6).Crop(6)] SWD</b></td>
                        <td>1 srx ~ <b>[parseFloat(l.srx).toFixed(6).Crop(6)] SWD</b></td>
                        <td>1 tth ~ <b>[parseFloat(l.tth).toFixed(6).Crop(6)] SWD</b></td>
                    </tr>
                    </tbody>
                </table>
                <h3 style="margin-top: 30px;">CÁCH SỬ DỤNG SWORD TOKENS</h3>
                <p>ạn có thể rút mã thông báo SWD đã nhận về ví của mình bất kỳ lúc nào. Trao đổi mã thông báo SWD
đối với TRX, SRX hoặc TTH sẽ có sẵn trên nền tảng JustSwap cũng như trên sàn giao dịch SharkExchange. Giá bán
các mã thông báo được khai thác có thể thay đổi theo thời gian. Nó phụ thuộc vào các yếu tố như nhu cầu cũng như tổng thể
số lượng mã thông báo SWD được khai thác.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal stk" data-modal="stake">
    <div class="modal__container modal-stake" :class="'modal-stake--'+select_token" style="max-width: 558px">
        <button class="close">
            <img src="../static/img/svg/main/close.svg" alt="">
        </button>
        <div class="modal-content">
            <div class="container">
                <div class="modal-stake__header">
                    <img :src="'/static/img/svg/'+select_token+'.svg'" alt="">
                    <div class="modal-stake-balance">
                        <h3>Số dư ví của bạn</h3>
                        <h2>[active_balance] <span>[select_token]</span></h2>
                    </div>
                </div>
                <div class="modal-stake__content">
                    <div class="min">
                        <label for="">Nhập số tiền đặt cược </label>
                        <span :class="'text-'+color[select_token]">min: <b>[get_min] [select_token]</b></span>
                    </div>
                    <div class="input">
                        <input type="number" step="1" v-model="amount"> <span
                            :class="'text-'+color[select_token]">[select_token]</span>
                        <button :class="'text-'+color[select_token]" @click.prevent="get_max">max</button>
                    </div>
                    <table>
                        <caption>lợi nhuận</caption>
                        <tbody>
                        <tr>
                            <td>Trên giờ</td>
                            <td>
                                [ph.Crop(4)] SWD
                                <span :class="'text-'+color[select_token]">~ [parseFloat(ph * price_token).Crop(4)] USD</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Per day</td>
                            <td>
                                [parseFloat(ph *24).Crop(4)] SWD
                                <span :class="'text-'+color[select_token]">~ [parseFloat(ph * price_token * 24).Crop(4)] USD</span>
                            </td>
                        </tr>
                        <tr>
                            <td>10 ngày một lần</td>
                            <td>
                                [parseFloat(ph * 24 * 10).Crop(4)] SWD
                                <span :class="'text-'+color[select_token]">~ [parseFloat(ph * price_token * 24 * 10).Crop(4)] USD</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="button " :class="color[select_token]" v-if="select_token === 'trx'"
                            @click.prevent="stake_action">
                        cổ phần [select_token]
                        <img src="../static/img/svg/arrow.svg" alt="">
                    </button>
                    <button class="button " :class="color[select_token]"
                            v-else-if="select_token !== 'trx' && allowance[select_token] >0 "
                            @click.prevent="stake_action">
                        cổ phần [select_token]
                        <img src="../static/img/svg/arrow.svg" alt="">
                    </button>
                    <button class="button " :class="color[select_token]" @click="approve_send" v-else>
                        chấp thuận [select_token]
                        <img src="../static/img/svg/arrow.svg" alt="">
                    </button>
                </div>
                <div class="modal-stake__footer" v-if="hh.length > 0">
                    <h2>Thống kê tài chính</h2>
                    <table>
                        <tr v-for="s in hh ">
                            <td>[parseFloat(s.amount/1000000).Crop(4)] [select_token]</td>
                            <td>[s.types]</td>
                            <td>[s.date]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="../static/js/main%EF%B9%96v=2.js"></script>
<script>
    Number.prototype.Crop = function (x) {
        var s = this + '',
            a = s.split('.');
        a[1] = a[1] || '';
        return parseFloat(a[0] + '.' + a[1].substring(0, x));
    };


    String.prototype.Crop = function (x) {
        var s = this + '',
            a = s.split('.');
        a[1] = a[1] || '';
        return parseFloat(a[0] + '.' + a[1].substring(0, x));
    };


    TRONGRID_API2 = "https://api.trongrid.io";
    let VueTRON = {
        data() {
            return {
                tronWeb: {
                    loggedIn: false
                },
                withdraw: [],
                referral: [],
                statistics: [],

                user: false,
                listlevel: [
                    {amount: 5000000, 'trx': 0.002, 'srx': 0.002*4.5, 'tth': 0.002 * 0.3},
                    {amount: 5000000, 'trx': 0.0018, 'srx': 0.0018*4.5, 'tth': 0.0018* 0.3},
                    {amount: 5000000, 'trx': 0.0016, 'srx': 0.0016*4.5, 'tth': 0.0016* 0.3},
                    {amount: 4000000, 'trx': 0.0014, 'srx': 0.0014*4.5, 'tth': 0.0014* 0.3},
                    {amount: 4000000, 'trx': 0.0013, 'srx': 0.0013*4.5, 'tth': 0.0013* 0.3},
                    {amount: 4000000, 'trx': 0.0012, 'srx': 0.0012*4.5, 'tth': 0.0012* 0.3},
                    {amount: 3500000, 'trx': 0.0011, 'srx': 0.0011*4.5, 'tth': 0.0011* 0.3},
                    {amount: 3000000, 'trx': 0.001, 'srx': 0.001*4.5, 'tth': 0.001* 0.3},
                    {amount: 3000000, 'trx': 0.0009, 'srx': 0.0009*4.5, 'tth': 0.0009* 0.3},
                    {amount: 2500000, 'trx': 0.0008, 'srx': 0.0008*4.5, 'tth': 0.0008* 0.3},
                    {amount: 2500000, 'trx': 0.0007, 'srx': 0.0007*4.5, 'tth': 0.0007* 0.3},
                    {amount: 2500000, 'trx': 0.0006, 'srx': 0.0006*4.5, 'tth': 0.0006* 0.3},
                    {amount: 2000000, 'trx': 0.0005, 'srx': 0.0005*4.5, 'tth': 0.0005* 0.3},
                    {amount: 2000000, 'trx': 0.0004, 'srx': 0.0004*4.5, 'tth': 0.0004* 0.3},
                    {amount: 2000000, 'trx': 0.0003, 'srx': 0.0003*4.5, 'tth': 0.0003* 0.3},
                ],

                balance: {
                    'srx': 0,
                    'tth': 0,
                    'trx': 0,
                },
                balance_srx: 0,
                count_ref: 0,
                amountNextLevel: 0,
                totalMined: 0,
                select_token: 'srx',
                color: {
                    'srx': 'blue',
                    'tth': 'green',
                    'trx': 'red',
                }
            };
        },
        computed: {
            user_login: function () {
                return String(this.user).substring(0, 4) + '.....' + String(this.user).substring(this.user.length - 4, this.user.length)
            },


        },
        async created() {
            await new Promise(resolve => {
                const tronWebState = {
                    installed: !!window.tronWeb,
                    loggedIn: window.tronWeb && window.tronWeb.ready
                };

                if (tronWebState.installed) {
                    this.tronWeb = tronWebState;
                    return resolve();
                }

                let tries = 0;

                const timer = setInterval(() => {
                    if (tries >= 10) {
                        const TRONGRID_API = TRONGRID_API2;

                        window.tronWeb = new TronWeb(
                            TRONGRID_API,
                            TRONGRID_API,
                            TRONGRID_API
                        );


                        this.tronWeb = {
                            installed: false,
                            loggedIn: false
                        }


                        clearInterval(timer);
                        return resolve();
                    }

                    tronWebState.installed = !!window.tronWeb;
                    tronWebState.loggedIn = window.tronWeb && window.tronWeb.ready;

                    if (!tronWebState.installed)
                        return tries++;

                    this.tronWeb = tronWebState;

                    resolve();
                }, 1000);
            });

            if (!this.tronWeb.loggedIn) {

                window.tronWeb.on('addressChanged', async () => {
                    if (this.tronWeb.loggedIn)
                        return;
                    this.tronWeb = {
                        installed: true,
                        loggedIn: true
                    }
                });
            }

        },
        methods: {
            get_balance: async function () {
                try {
                    var s = JSON.stringify({address: await window.tronWeb.defaultAddress.hex});
                    return $.ajax({
                        type: 'post',
                        dataType: 'json',
                        url: TRONGRID_API2 + "/wallet/getaccount",
                        contentType: 'application/json',
                        data: s,
                        success: (data) => {
                            this.balance.trx = (data.balance / 1000000).Crop(2);

                        }
                    })
                } catch (e) {
                    console.log(e)
                }

                // this.balance = this.crop(await window.tronWeb.trx.getBalance() / 1000000)
            },
            getTronWeb() {
                return new Promise((resolve, reject) => {
                    window.tronWeb ? resolve(window.tronWeb) : reject('TronWeb not found');
                });
            }
        }, watch: {

            async 'tronWeb.loggedIn'() {
                clearTimeout(this.timeout)
                this.timeout = setTimeout(async () => {
                    this.user = window.tronWeb.defaultAddress.base58;
                }, 300)

            }

        }
    };
</script>


    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>.simplebar-scrollbar {
            opacity: 0 !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>


        $('body').on('click', '.select', function () {
            $(this).toggleClass('active');
        });

        $('body').on('click', '[data-toggle]', function () {

            $('.modal.active').removeClass('active');
            $(`[data-modal="${$(this).data('toggle')}"]`).addClass('active');
            $('body').addClass('open-modal');
            $('.modal').on('click', function (e) {
                if (!$(e.target).closest('.modal__container').length) {
                    closeModal();
                    $('.modal__container').unbind();
                }
            })

            App.getHistory($(this).data('toggle'));

            return false
        })

        function openModal(name) {
            $(`[data-modal]`).removeClass('active');
            $(`[data-modal="${name}"]`).addClass('active');
            $('body').addClass('open-modal');
            $('.modal').on('click', function (e) {
                if (!$(e.target).closest('.modal__container').length) {
                    closeModal();
                    $('.modal__container').unbind();
                }
            })

            App.getHistory($(this).data('toggle'));

            return false
        }

        $('body').on('click', '.modal .close', function () {
            closeModal();
        });


        function closeModal() {
            $('body').removeClass('open-modal');
            $(`[data-modal]`).removeClass('active');
            return false
        }

        window.App = new Vue({
            mixins: [VueTRON],
            el: '.app',
            delimiters: ['[', ']'],
            data() {
                return {
                    wallet: 'TCoCR2oDhL3ghKsRgrKdGWPNt8rVRUwpiW',
                    active: false,
                    avaiable: 0,
                    
                    
                    referral_money: 0,
                    total_referral: 0,
                    amount: 100,
                    srx: false,
                    tth: false,
                    swd: false,
                    upline: [],
                    period_mined: 0,
                    total_staked: {
                        'srx': 0,
                        'tth': 0,
                        'trx': 0,
                    },
                    history_freeze: {
                        'srx': [],
                        'tth': [],
                        'trx': [],
                    },
                    user_stake: {
                        trx: 0,
                        srx: 0,
                        tth: 0,
                    },
                    token_wallet: {
                        'trx': 'TCoCR2oDhL3ghKsRgrKdGWPNt8rVRUwpiW',
                        'srx': 'TQSTsAT1pWopxDgvhz3jBo77T8NgCXrzBr',
                        'tth': 'TCPzTWSeuGDNoWs5s9EzE7FSS8JnrvieBa',
                        'swd': 'TLWAwUn79CVehz91A4J9nbh6SPPvDdhba1',

                    },
                    min: {
                        'srx': 100,
                        'tth': 100,
                        'trx': 100,
                    },
                    max: {
                        'srx': 1000000,
                        'tth': 10000000,
                        'trx': 5000000,
                    },
                    allowance: {
                        'srx': false,
                        'tth': false,
                        'swd': false,
                    },
                    level: {
                        amount: 0,
                        speed_trx: 0,
                        speed_srx: 0,
                        speed_tth: 0,
                    },
                    currentLvl: 1,
                    curses: {
                        'trx': 0,
                        'trx_price': 0,
                        'srx': 0,
                        'srx_amount': 0,
                    }

                }
            },
            computed: {
                price_token: function () {
                    return parseFloat(this.price_token_trx * this.curses.trx_price).Crop(4)
                },
                price_token_trx: function () {
                    return parseFloat(this.curses.trx / this.curses.srx_amount).Crop(4);
                },
                get_min: function () {
                    return this.min[this.select_token];
                },
                hh: function () {
                    return this.history_freeze[this.select_token];
                },
                active_balance: function () {
                    return this.balance[this.select_token];
                },
                ref_link: function () {
                    if (this.user) {
                        return 'https://sharkdefi.com/?referral=' + this.user
                    }
                    return '';
                },

                procentToken: function () {
                    if (!this.user) {
                        return 0;
                    }
                    return this.period_mined / this.level.amount * 100

                },
                left: function () {
                    return this.level.amount - this.period_mined
                },
                per_hour: function () {
                    var time = 3600;
                    var send_amount;
                    send_amount = time * this.user_stake.trx * this.level.speed_trx;
                    send_amount += time * this.user_stake.srx * this.level.speed_srx;
                    send_amount += time * this.user_stake.tth * this.level.speed_tth;
                    send_amount = send_amount / 1000000 / 86400;
                    return send_amount;
                },
                per_hour_price: function () {
                    return this.per_hour * this.price_token;
                },
                ph: function () {
                    var time = 3600;
                    var send_amount;
                    send_amount = time * this.amount * this.level['speed_' + this.select_token];
                    send_amount = send_amount / 1000000 / 86400;
                    return send_amount;
                },

            },
            methods: {
                getTokenAmount() {
                    var _this = this;
                    const data = JSON.stringify({
                        "owner_address": "417e5f4552091a69125d5dfcb7b8c2659029395bdf",
                        "contract_address": "41738c6e7edd4672c7f6e7158add1dfb9fdea5c93e",
                        "function_selector": "balanceOf(address)",
                        "call_value": 0,
                        "parameter": "000000000000000000000000f3ee8aa95bcdcaef2dfb519efc72c1ecfd81b402"
                    });

                    const xhr = new XMLHttpRequest();

                    xhr.addEventListener("readystatechange", function () {
                        if (this.readyState === this.DONE) {
                            let t = '0x' + JSON.parse(this.responseText).constant_result[0];
                            _this.curses.srx_amount = Number(t) / 1000000;
                        }
                    });

                    xhr.open("POST", "https://api.trongrid.io/wallet/triggersmartcontract");
                    xhr.setRequestHeader("content-type", "application/json");
                    xhr.send(data);
                },

                get_Trx_Amount() {
                    var _this = this;
                    $.ajax({
                        type: "post",
                        data: "{address : '41f3ee8aa95bcdcaef2dfb519efc72c1ecfd81b402'}",
                        dataType: 'json',
                        contentType: "application/json",
                        url: 'https://api.trongrid.io/walletsolidity/getaccount',
                        success: function (data) {
                            _this.curses.trx = parseFloat(data.balance / 1000000);
                        }
                    })
                },
                getTrxPrice: function () {
                    $.get('https://api.just.network/swap/scan/statusinfo?exchangeAddress=TYCzxqZBWUBYhftFqVthk2xGmwpbtvFBUB', (d) => {
                        this.curses.trx_price = d.data.trxPrice;
                    })
                },
                get_max: function () {
                    if (this.max[this.select_token] < this.active_balance) {
                        this.amount = this.max[this.select_token];
                    } else {
                        this.amount = this.active_balance;
                    }
                },
                getHistory: function (t) {
                    var _this = this;
                    $.get(t + '/?user=' + this.user + '&stake=' + this.token_wallet[this.select_token], function (d) {
                        if (t === 'stake') {
                            _this.history_freeze[_this.select_token] = d;
                        }
                        _this[t] = d
                    });
                },
                copy() {
                    var copyText = document.getElementById("ref");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999)
                    document.execCommand("copy");
                    alert("Copied");
                },
                stake_action: function () {

                    if (this.select_token === 'trx') {
                        this.app.stake(this.upline).send({
                            feeLimit: 5000000,
                            callValue: parseFloat(this.amount * 1000000).toFixed(0)
                        }).then((d) => {
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        });
                    } else {
                        this.app.stakeToken(this.token_wallet[this.select_token], this.upline, parseFloat(this.amount * 1000000).toFixed(0)).send({feeLimit: 5000000}).then(() => {
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        });
                    }
                },
                approve_send: async function () {
                    this[this.select_token].approve(this.wallet, 1000000000000000).send().then((d) => {
                        this.check_approve(this.select_token);
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    })
                },
                check_approve: function (name) {
                    this[name].allowance(this.user, this.wallet).call().then((d) => {
                        this.allowance[name] = parseFloat(d);
                    }).catch((e) => {
                        this.check_approve(name);
                    })
                },
                balanceSWD: function () {
                    this.get_user_stake();
                    this.app.get_money(this.user).call().then((d) => {
                        this.avaiable = parseFloat(d) / 1000000;
                    });
                    this.app.get_money_referral(this.user).call().then((d) => {
                        this.referral_money = (d / 1000000).Crop(6)
                    })
                    setTimeout(() => {
                        this.balanceSWD();
                    }, 5000)
                },
                get_user_stake: function () {
                    this.app.user_stake(this.user).call().then((d) => {
                        this.user_stake = {
                            srx: parseFloat(parseFloat(d.srx_amount) / 1000000).Crop(2),
                            trx: parseFloat(parseFloat(d.trx_amount) / 1000000).Crop(2),
                            tth: parseFloat(parseFloat(d.tth_amount) / 1000000).Crop(2),
                            date: parseFloat(d.date),
                        }

                    })
                },

                getMyToken: function () {
                    this.app.getToken().send({feeLimit: 5000000}).then(() => {
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    });
                },
                getReferralMoney: function () {
                    this.app.getReferralMoney().send({feeLimit: 5000000}).then(() => {
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    });
                },
                get_statistics(token) {
                    this.app.statistics(this.token_wallet[token]).call().then((d) => {
                        this.total_staked[token] = parseFloat(parseFloat(d.freeze) / 1000000).Crop(4);
                    })
                },
                unfreeze: function (token) {
                    if (token.length > 0) {
                        this.app.unfreezeToken(this.token_wallet[token]).send({feeLimit: 10000000}).then(() => {
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        });
                    } else {
                        this.app.unfreeze().send({feeLimit: 5000000}).then(() => {
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        });
                    }
                },
                get_currentLvl: function () {
                    this.app.currentLvl().call().then((d) => {
                        this.currentLvl = d
                    })
                },
                register() {
                    if (this.user && this.user !== '') {
                        fetch('register', {
                            method: "POST",
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            },
                            body: JSON.stringify({user: this.user})
                        })
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                this.active = true;
                                if (data.result === 'success') {
                                    this.upline = data.data;
                                    this.total_referral = data.count;
                                }
                            });
                    }
                },
                getBalanceToken() {

                    this[this.select_token].balanceOf(this.user).call().then((d) => {
                        this.balance[this.select_token] = parseFloat(d) / 1000000;
                    }).catch((e) => {
                        this.getBalanceToken();
                    })
                },
                get_all_info: function () {
                    this.app.get_all_info(this.token_wallet.srx, this.token_wallet.tth, this.token_wallet.trx).call().then((d) => {
                        this.total_staked.srx = parseFloat(d[0] / 1000000).Crop(2);
                        this.total_staked.tth = parseFloat(d[1] / 1000000).Crop(2);
                        this.total_staked.trx = parseFloat(d[2] / 1000000).Crop(2);
                        this.period_mined = parseFloat(d[3] / 1000000).Crop(2);
                        this.currentLvl = d[4];
                        this.level = {
                            amount: parseFloat(d[5] / 1000000).Crop(2),
                            speed_trx: parseFloat(d[8]).Crop(2),
                            speed_srx: parseFloat(d[6]).Crop(2),
                            speed_tth: parseFloat(d[7]).Crop(2),
                        };
                        console.log(this.level)
                    }).catch((e) => {
                        setTimeout(() => {
                            this.get_all_info();
                        }, 2000)
                    });
                }
            },
            watch: {
                amount: function () {

                        this.amount =  parseInt(this.amount);


                },
                'select_token': function () {
                    if (this.select_token === 'trx') {
                        this.get_balance();
                    } else {
                        this.getBalanceToken();
                    }
                },
                async 'tronWeb.loggedIn'() {
                    clearTimeout(this.timeout)
                    this.timeout = setTimeout(async () => {
                        this.user = window.tronWeb.defaultAddress.base58;
                        this.app = await window.tronWeb.contract().at(this.wallet);
                        this.register();

                        this.srx = await window.tronWeb.contract().at(this.token_wallet.srx);
                        this.tth = await window.tronWeb.contract().at(this.token_wallet.tth);
                        this.balanceSWD();
                        this.get_balance();
                        this.get_user_stake();

                        this.check_approve('srx');
                        this.check_approve('tth');

                        this.get_all_info();
                        this.getBalanceToken();

                    }, 300)
                },
            },
            async mounted() {
                this.getTokenAmount();
                this.get_Trx_Amount();
                this.getTrxPrice();
                $('.modal-content').each((i, e) => {
                    console.log(e)
                    new SimpleBar($(e)[0]);
                })
            }
        })
    </script>

</body>
</html>
