body
{ 
   margin:0px; padding:0px; font-family:微软雅黑;   background-color:#05A3BB; padding-top:115px;
}   
input,select{font-family:微软雅黑;outline:none;}
dl,dt,dd,ol{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline}
body, td, th
{
    font-size: 12px;
}
*
{
    padding: 0px;
    margin:0p
}
img
{
    border: 0px;
}
ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
h1, h3
{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
p
{
    padding: 0px;
    margin: 0px; border-style:none;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
a{ color:#444444;text-decoration: none;padding: 0px;
    margin: 0px;}
a:hover
{
    color:#FF6600;
    text-decoration: none;padding: 0px;
    margin: 0px;
}
.textleft
{
    text-align: left;
}
.textcenter
{
    text-align: center;
}
.textright
{
    text-align: right;
}

@font-face{
    font-family: 'Luminari';
    src : url('Luminari.ttf');
}
@font-face{
    font-family: 'Mathematical';
    src : url('Mathematical.ttf');
}
@font-face{
    font-family: 'Rajdhani';
    src : url('Rajdhani-Bold-4.ttf');
}

input::-webkit-input-placeholder{   color:#D3D3D3;   }   
input:-moz-placeholder{   color: #D3D3D3;   }     
input::-moz-placeholder{   color: #D3D3D3;   } 
input:-ms-input-placeholder{   color: #D3D3D3;   }  
.gray{ -khtml-opacity: 0.5; -moz-opacity:0.4; opacity:0.4;filter:alpha(opacity=40);  -webkit-filter: grayscale(100%);-moz-filter: grayscale(60%); -ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}

/**头部**/
.HeadTop{ position:fixed; left:0px; top:0px; width:100%; z-index:109000000; clear:both; overflow:hidden; background-color:#333333; height:115px;}
.HeadTop .Logo{ float:left; padding-left:20px; margin-top:35px; }
.HeadTop .Logo img{ height:40px;}
.HeadTop ul.Nav{ padding-left:60px; float:left; height:115px;}
.HeadTop ul.Nav li{ float:left; line-height:115px; padding-right:35px; font-size:22px; font-family:"Luminari";}
.HeadTop ul.Nav li a{ color:#99CCCC;}
.HeadTop ul.Nav li a:hover{ color:#FF8800;}
.HeadTop .Lang{ float:right; font-size:20px;  padding-right:15px; font-size:22px;}
.HeadTop .Lang a{ line-height:115px; display:inline-block; margin-left:20px; color:#99CCCC;}
.HeadTop .Lang a.China{}
.HeadTop .Lang a.Eng{font-family:"Luminari";}
.HeadTop .Lang a:hover{ color:#FF8800;}
.HeadTop .Nav p{ color:#DC143C;}
.HeadTop .Nav span{ color:#DC143C;}

/**超级节点**/
.InPoint{ min-width:960px; /*height:170px; */padding-top:10px; clear:both; overflow:hidden; background-color:#99CCCC;  overflow:hidden; text-align:center;}
.InPoint p{ clear:both; overflow:hidden; line-height:45px;  font-size:20px; color:#333333;}
.InPoint p.PP1{ color:#2A97D0;}
.InPoint p.PP1 a{ color:#2A97D0;}
.InPoint p.PP1 a:hover{ color:#FF6600;}
.InPoint p.PP2{ }
.InPoint p.PP3{ text-align:center; padding-top:8px;}

.InActivet{ padding-bottom:50px; overflow:hidden; clear:both; background:url("../images/bg.jpg") center top no-repeat;}
.InActivet .ActiveICO{ text-align:center; clear:both; overflow:hidden; padding-top:65px; height:80px;}
.InActivet .Number{ text-align:center; clear:both; overflow:hidden; height:80px; line-height:80px; color:White; font-size:85px; font-weight:bold;}
.InActivet .Number span{ letter-spacing:3px; font-family:"Rajdhani"; padding-right:75px;background:url("../images/san.png") right center no-repeat;}
.InActivet .Number2{ text-align:center; clear:both; overflow:hidden; height:100px; line-height:70px; color:White; font-size:55px; font-weight:bold;}
.InActivet .Number2 span{  font-family:"Rajdhani"; width:545px; text-align:right; margin:0px auto; display:inline-block; }
.InActivet .Acchie{  font-family:"Rajdhani"; color:White; position:relative; height:215px; clear:both; overflow:hidden; width:735px; margin:0px auto;}
.InActivet .Acchie .LText{ position:absolute; left:0px; top:0px; padding-top:17px; float:left; text-align:center; text-align:center;}
.InActivet .Acchie .LText p{ text-align:center; clear:both; overflow:hidden;  font-size:40px;}
.InActivet .Acchie .LText p.PP1{ height:46px; line-height:43px;}
.InActivet .Acchie .LText p.PP1 span{ display:inline-block; line-height:43px; padding-right:35px; background:url("../images/Asa.png") right center no-repeat;}
.InActivet .Acchie .RText{ position:absolute; right:10px; top:0px; padding-top:17px; float:right; text-align:center; text-align:center;}
.InActivet .Acchie .RText p{ text-align:center; clear:both; overflow:hidden;  font-size:40px;}
.InActivet .Acchie .RText p.PP1{ height:46px; line-height:43px;}
.InActivet .Acchie .RText p.PP1 span{ display:inline-block; line-height:43px; padding-right:35px; background:url("../images/Asa.png") right center no-repeat;}
.InActivet .Acchie .CText{ text-align:center; clear:both; overflow:hidden; width:380px; margin:0px auto;}
.InActivet .Acchie .CText p{ clear:both; overflow:hidden;}
.InActivet .Acchie .CText p.PP1{ padding-top:5px; height:60px;  line-height:60px; font-size:40px;}
.InActivet .Acchie .CText p.PP2{ text-align:left; border:6px solid #FFFFFF; height:28px;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px; }
.InActivet .Acchie .CText p.PP2 span{ margin:5px; height:18px; background-color:White; display:inline-block; overflow:hidden; -moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px; }
.InActivet .Timer{ font-size:45px; clear:both; overflow:hidden; height:86px; line-height:86px; text-align:center; color:White; font-family:"Rajdhani";}
.InActivet .Hour{ font-size:70px; clear:both; overflow:hidden; height:125px; text-align:center; color:White;font-family:"Rajdhani"; line-height:105px;}
.InActivet .HourWaring{ height:225px; font-family:"Rajdhani"; clear:both; overflow:hidden; padding-top:20px; width:485px; padding-left:30px; margin:0px auto; color:White; line-height:30px; font-size:25px;}
.InActivet .TabSelect{ clear:both; overflow:hidden; width:1300px; margin:0px auto;}
.InActivet .TabSelect .Lefts{ float:left; width:620px; overflow:hidden;}
.InActivet .TabSelect .Rights{ float:right; width:620px; overflow:hidden;}
.InActivet .TabSelect ul.Tab{ clear:both; overflow:hidden; height:80px;  font-family:"Rajdhani";}
.InActivet .TabSelect ul.Tab li{ cursor:pointer; background-color:#8DD5E4;   font-size:43px; float:left; height:80px; margin-right:8px; line-height:90px; padding-left:25px; padding-right:25px; color:White;
                                 -moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;border-radius:10px 10px 0px 0px;}
.InActivet .TabSelect ul.Tab li span{ display:inline-block; font-size:32px; line-height:32px; width:100%; text-align:center; padding-top:10px;}
.InActivet .TabSelect ul.Tab li.Select{ background-color:#6FCADD; }
.InActivet .TabSelect .TabCon{ margin-left:-1px; clear:both; overflow:hidden;  width:620px; height:995px;background:url("../images/mbg.png") center top no-repeat; background-color:#8DD5E4;}/**  background:url("../images/paibg.jpg") center top no-repeat;  **/
.InActivet .TabSelect ul.Eth{ clear:both;   padding-top:45px;}
.InActivet .TabSelect ul.Eth li{ clear:both;  }
.InActivet .TabSelect ul.Eth li.TT1{ text-align:center; height:245px;}
.InActivet .TabSelect ul.Eth li.TT2{ text-align:center; padding-bottom:85px; }
.InActivet .TabSelect ul.Eth li.TT2 input{ text-align:right; width:325px; padding-right:25px; padding-left:25px; height:36px; line-height:36px; border:0px; background:none; background-color:White; font-size:28px; color:Black;
                                           font-weight:bold;  -moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;
                                           -moz-box-shadow:0px 0px 65px 15px #FFFFFF; -webkit-box-shadow:0px 0px 65px 15px #FFFFFF; box-shadow:0px 0px 65px 15px #FFFFFF;}
.InActivet .TabSelect ul.Eth li.TT3{ text-align:center;}
.InActivet .TabSelect ul.Eth li.TT3 input{ cursor:pointer; width:312px; height:67px; border:0px;background:url("../images/SendTH.png") center top no-repeat;}

.InActivet .TabSelect ul.UsrEth{ clear:both;   padding-top:65px;}
.InActivet .TabSelect ul.UsrEth li{ clear:both;  }
.InActivet .TabSelect ul.UsrEth li.TT1{ text-align:center; height:150px;}
.InActivet .TabSelect ul.UsrEth li.TT2{ padding-bottom:15px; padding-left:60px; }
.InActivet .TabSelect ul.UsrEth li.TT2 p{ clear:both; }
.InActivet .TabSelect ul.UsrEth li.TT2 p.PP1{ text-shadow:2px 2px 1px #333333; height:55px; line-height:55px;font-family:"Rajdhani"; font-size:40px; color:White; font-weight:bold;}
.InActivet .TabSelect ul.UsrEth li.TT2 input{ text-align:right; width:175px; padding-right:25px; padding-left:25px; height:36px; line-height:36px; border:0px; background:none; background-color:White; font-size:23px; color:Black;
                                           font-weight:bold;  -moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;
                                          text-align:left; -moz-box-shadow:0px 0px 65px 15px #FFFFFF; -webkit-box-shadow:0px 0px 65px 15px #FFFFFF; box-shadow:0px 0px 65px 15px #FFFFFF;}
.InActivet .TabSelect ul.UsrEth li.TT3{ text-align:center; padding-top:50px;}
.InActivet .TabSelect ul.UsrEth li.TT3 input{ cursor:pointer; width:312px; height:67px; border:0px;background:url("../images/SendTH.png") center top no-repeat;}

.InActivet .TabSelect ul.DerviEth{ clear:both;   padding-top:50px;}
.InActivet .TabSelect ul.DerviEth li{ clear:both;  }
.InActivet .TabSelect ul.DerviEth li.TT1{ text-align:center; height:215px;}
.InActivet .TabSelect ul.DerviEth li.TT2{ height:75px; }
.InActivet .TabSelect ul.DerviEth li.TT2 p{ float:left; }
.InActivet .TabSelect ul.DerviEth li.TT2 p.PP1{ text-align:right; width:250px; text-shadow:2px 2px 1px #333333;   line-height:60px;font-family:"Rajdhani"; font-size:40px; color:White; font-weight:bold;}
.InActivet .TabSelect ul.DerviEth li.TT2 p.PP2{ padding-top:13px; padding-left:50px;}
.InActivet .TabSelect ul.DerviEth li.TT2 input{ text-align:right; width:175px; padding-right:25px; padding-left:25px; height:36px; line-height:36px; border:0px; background:none; background-color:White; font-size:23px; color:Black;
                                           font-weight:bold;  -moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;
                                          text-align:left;  -moz-box-shadow:0px 0px 65px 15px #FFFFFF; -webkit-box-shadow:0px 0px 65px 15px #FFFFFF; box-shadow:0px 0px 65px 15px #FFFFFF;}
.InActivet .TabSelect ul.DerviEth li.TT3{ text-align:center; padding-top:50px;}
.InActivet .TabSelect ul.DerviEth li.TT3 input{ cursor:pointer; width:312px; height:67px; border:0px;background:url("../images/withdrawTH.png") center top no-repeat;}
.InActivet .TabSelect .ReICO{ clear:both; overflow:hidden; text-align:center; padding-top:45px; height:170px;}
.InActivet .TabSelect ul.List2{ margin:0px auto; position:relative; clear:both; overflow:hidden; width:560px; padding-top:100px; padding-bottom:5px; }
.InActivet .TabSelect ul.List2 li{ margin-bottom:5px; font-family:"Rajdhani"; clear:both; overflow:hidden;}
.InActivet .TabSelect ul.List2 li.TT1{ position:absolute; left:0px; top:0px; width:100%; color:White; background-color:#43545A; height:100px;}
.InActivet .TabSelect ul.List2 li.TT1 p{ line-height:100px; font-size:20px; float:left;}
.InActivet .TabSelect ul.List2 li.TT1 p.PP1{ padding-left:15px; width:70px;}
.InActivet .TabSelect ul.List2 li.TT1 p.PP2{ width:150px;}
.InActivet .TabSelect ul.List2 li.TT1 p.PP3{ width:220px;}
.InActivet .TabSelect ul.List2 li.TT1 p.PP4{ }
.InActivet .TabSelect ul.List{ clear:both; overflow:hidden; width:560px; margin:0px auto; overflow-y:auto; height:580px;}
.InActivet .TabSelect ul.List li{ margin-bottom:5px; font-family:"Rajdhani"; clear:both; overflow:hidden;}
.InActivet .TabSelect ul.List li.TT1{ color:White; background-color:#43545A; height:100px;}
.InActivet .TabSelect ul.List li.TT1 p{ line-height:100px; font-size:20px; float:left;}
.InActivet .TabSelect ul.List li.TT1 p.PP1{ padding-left:15px; width:70px;}
.InActivet .TabSelect ul.List li.TT1 p.PP2{ width:150px;}
.InActivet .TabSelect ul.List li.TT1 p.PP3{ width:220px;}
.InActivet .TabSelect ul.List li.TT1 p.PP4{ }
.InActivet .TabSelect ul.List li.TT2{ height:78px; background-color:#60C4D9; color:Black;}
.InActivet .TabSelect ul.List li.TT2 p{ line-height:78px; font-size:25px; float:left;}
.InActivet .TabSelect ul.List li.TT2 p.PP1{ padding-left:15px; width:70px;}
.InActivet .TabSelect ul.List li.TT2 p.PP2{ width:150px;}
.InActivet .TabSelect ul.List li.TT2 p.PP3{ width:200px;}
.InActivet .TabSelect ul.List li.TT2 p.PP4{ }
.InActivet .TabSelect ul.List li.TT3{ background-color:#14B7D1;}
/* 设置滚动条的样式 */
.InActivet .TabSelect ul.List::-webkit-scrollbar {width:2px;}
/* 滚动槽 */
.InActivet .TabSelect ul.List::-webkit-scrollbar-track {-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);border-radius:10px;}
/* 滚动条滑块 */
.InActivet .TabSelect ul.List::-webkit-scrollbar-thumb {border-radius:10px;background:rgba(0,0,0,0.1);-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);}
.InActivet .TabSelect ul.List::-webkit-scrollbar-thumb:window-inactive {background:rgba(255,0,0,0.4);}

/***jconfirm  Custom themes ***/
.jconfirm.jconfirm-mybox-theme .jconfirm-box{     width:50%; }















