
<!DOCTYPE html>

<html lang="en">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8">
    <link href="dist/imgs/t2x-icon-2.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description"
        content="Next Generation Staking Platform">
    <meta name="keywords"
        content="t2x, crypto, bitcoin, tron, staking, t2x token">
    <meta name="author" content="LEFT4CODE">
    <title>T2X - XSwap</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="dist/css/app.css" />
    <link rel="stylesheet" href="dist/custom.css" />
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->

<body class="app" >

    <div class="shared-header" style="height: 86px;"></div>

    <!-- BEGIN: Top Menu -->
    <nav class="top-nav">
        <ul>
            <!-- <li style="margin-right: 20px;">
                <a href="index.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                </a>
            </li> -->
            <li>
                <a href="transfer.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="repeat"></i> </div>
                    <div class="top-menu__title"> Transfer </div>
                </a>
            </li>
            <li>
                <a href="stake.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="layers"></i> </div>
                    <div class="top-menu__title"> Stake </div>
                </a>
            </li>
            <li>
                <a href="auction.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="server"></i> </div>
                    <div class="top-menu__title"> Auction </div>
                </a>
            </li>
            <li>
                <a href="dividends.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="pie-chart"></i> </div>
                    <div class="top-menu__title"> Dividends </div>
                </a>
            </li>
            <li>
                <a href="refer.html" class="top-menu">
                    <div class="top-menu__icon"> <i data-feather="users"></i> </div>
                    <div class="top-menu__title"> Referral </div>
                </a>
            </li>
            <li>
                <a href="xswap.html" class="top-menu  top-menu--active">
                    <div class="top-menu__icon"> <i data-feather="droplet"></i> </div>
                    <div class="top-menu__title"> Drip(old) </div>
                </a>
            </li>
            <li>
                <a href="xswapv2.html" class="top-menu ">
                    <div class="top-menu__icon"> <i data-feather="shuffle"></i> </div>
                    <div class="top-menu__title"> XSwap </div>
                </a>
            </li>


           
        </ul>
    </nav>
    <!-- END: Top Menu -->
    <!-- BEGIN: Content -->
    <div class="content" style="background: #120f27; box-shadow: 0px 0px 14px #15151e8a;" id="app">
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 md:col-span-4">
                <div class="box" style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">
                            
                            <img style="margin:auto;width:40px;border-radius: 100%;position: absolute;left : 5px;" class="mt-5"  :src="'./dist/imgs/' + TokenA_Detail.address + '.png'" alt=""><span>{{getTokenCode(TokenA_Detail.address) + ' Drip'}}</span>
                        </h2>
                    </div>
                    <div class="box-content p-5" style="color:#c5d6f3;">
                        <div v-if="timer.distance > 0" style="position: absolute;background-color: #000;top: 0;bottom: 0;right: 0;opacity: .9;left: 0;z-index: 101;text-align: center;">
                            <h1 style="font-size:35px;margin-top:80px;">{{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}</h1>
                        </div>
                        <div class="text-center" >
                            <span>Entry and Exit Fee : 10.00 %</span>
                        </div>
                        <div class="flex justify-between mt-2">
                            <span class="text-grey">Liquidity Lock Indicator  </span>
                        </div>
                        <div class="flex justify-between mt-5">
                            <span class="text-danger">Max remove : {{getMaxRemoveLiquidity(TokenA_Detail)}}</span>
                            <span class="text-success">Max add : {{getMaxAddLiquidity(TokenA_Detail)}}</span>
                        </div>		
                        <div class="w-full h-3 bg-gray rounded mt-3">
                            <div :class="'h-full  rounded ' + getLiquidityColor(TokenA_Detail)" v-bind:style="{width: getHourlyLiquidity(TokenA_Detail.hourlyAddedLiquidity,TokenA_Detail.hourlyRemovedLiquidity,TokenA_Detail.reserve,TokenA_Detail.minLock) + '%'}"></div>
                        </div>
                        <div class="text-center">
                            <span v-if="TokenA_Detail.hourlyDistance > 0 && tradingtimer.distance <= 0">Reset in {{getResetTimer(TokenA_Detail)}}</span>
                        </div>
                        
                        <input type="number" class="input pr-12 w-full border col-span-4 mt-2" placeholder="" v-model="TokenA_Detail.liquidity">
                        
                        <div class="flex justify-between mt-2">
                           <!-- <button class="button w-24 mr-1 mb-2 bg-success text-white" style="width:49%;" @click="addLiquidity(TokenA_Detail);" >ADD</button> -->
                           <!--  <button class="button w-24 mr-1 mb-2 bg-danger text-white" style="width:49%;" @click="RemoveLiquidity(TokenA_Detail)"> REMOVE</button>-->
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Reward Pool :</span>
                            <span class="text-grey"> {{TokenA_Detail.pool}} {{getTokenCode(TokenA_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Current Pool Size :</span>
                            <span class="text-grey"> {{TokenA_Detail.LPSupply}} {{getTokenCode(TokenA_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Your Pool Share (%)</span>
                            <span class="text-grey"> {{TokenA_Detail.myPoolShare}} {{getTokenCode(TokenA_Detail.address)}} ({{((TokenA_Detail.myPoolShare*100)/TokenA_Detail.LPSupply).toFixed(2)}} %)</span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Total Claimed </span>
                            <span class="text-grey"> {{TokenA_Detail.claimed}} {{getTokenCode(TokenA_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Unclaimed Earnings </span>
                            <span class="text-grey"> {{TokenA_Detail.earnings}} {{getTokenCode(TokenA_Detail.address)}} </span>
                        </div>

                        <div style="width: 100%; text-align: center;margin-top:20px;" class="mb-2">
                            <button class="stake-btn button w-24 shadow-md inline-block mr-1 mb-2 bg-theme-1 text-white inline-flex items-center" @click="claimEarning(TokenA_Detail)"
                                style="transition: all 0.20s ease-in-out; background-image: linear-gradient(45deg, #fd6035 0%, #f75878 100%); box-shadow: 0 3px 6px rgba(0, 0, 0, .3), inset 0 0 10px 3px rgba(0, 0, 0, .2), 0 3px 20px #f6597282, 0 3px 35px rgba(250, 95, 59, 0.48); width: 94%;
                            height: 37px;width: 90%;margin: 0;color: #fff9f885;font-size: 20px;">
                                <span class="btn-usertransfer-txt" style="margin: 0px auto;color: #c5d6f3;">
                                    Claim
                                </span>
                                <div class="btn-usertransfer-load"
                                    style="padding-right: calc(50% - 8px); display:none">
                                    <i data-loading-icon="oval" data-color="white"
                                        class="w-4 h-4 ml-auto" style="display: none;">
                                    </i>
                                </div>
                            </button>
                        </div>

                     
                    </div>
                </div>
            </div>
            <div class="intro-y col-span-12 md:col-span-4">
              <!--  <div class="box" style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">SWAP</h2>
                    </div>
                    <div class="box-content p-5" style="color:#c5d6f3;min-height: 418px;">
                        <div class="p-2" style="border: 1px solid rgb(84 83 83);border-radius: .5rem;">
                            <label>From</label> 
                            <span style="float:right;">Balance : {{inputToken.balance}}</span> 
                            <div  style="overflow: hidden;">
                                <div class="relative mt-2" style="width:80%;float:left;"> 
                                    <input v-model="input" type="number" class="input pr-12 w-full border col-span-4">
                                    <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600" style="cursor: pointer;">Max</div>
                                </div>
                                <div style="width:20%;float:right;padding:7px;">
                                    <a class="flex items-center" href="#" style=" color:#c2c6dc !important;width: 100%;background: #262c49;padding: 5px;border-radius: 5px;justify-content: center;">
                                        <img style="width: 28px;border-radius: 100%;margin-right:5px;height: 30px;" :src="'./dist/imgs/' + inputToken.address + '.png'"  alt=""> 
                                        <span>{{getTokenCode(inputToken.address)}}</span> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center;width: 100%;padding: 10px;">
                            <a @click="switchTokens()"><i class="ml-2" style="cursor:pointer;margin: auto;" data-feather="minimize-2" ></i></a>
                        </div>
                        <div class="p-2" style="border: 1px solid rgb(84 83 83);border-radius: .5rem;">
                            <label>To (estimated)</label> 
                            <span style="float:right;">Balance : {{outputToken.balance}}</span> 
                            <div  style="overflow: hidden;">
                                <div class="relative mt-2" style="width:80%;float:left;"> 
                                    <input type="number" class="input pr-12 w-full border col-span-4"  v-model="output">
                                    <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600" style="cursor: pointer;">Max</div>
                                </div>
                                <div style="width:20%;float:right;padding:7px;">
                                    <a class="flex items-center" href="#" style=" color:#c2c6dc !important;width: 100%;background: #262c49;padding: 5px;border-radius: 5px;justify-content: center;">
                                        <img style="width: 28px;border-radius: 100%;margin-right:5px;height: 30px;" :src="'./dist/imgs/' + outputToken.address + '.png'"  alt=""> 
                                        <span>{{getTokenCode(outputToken.address)}}</span> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between mb-2 mt-2" v-if="inputToken.reserve && outputToken.reserve">
                            <span class="text-grey">Price :</span>
                            <span class="text-grey" v-if="outputToken.address">1 {{getTokenCode(inputToken.address)}} = {{(getInputPrice(1*getTokenDecimals(inputToken.address),inputToken.reserve,outputToken.reserve)/getTokenDecimals(outputToken.address)).toFixed(6)}} {{getTokenCode(outputToken.address)}}</span>
                            <span class="text-grey" v-if="!outputToken.address">-</span>
                        </div>

                        <div style="width: 100%; text-align: center;margin-top:20px;" class="mb-2">
                            <button :disabled="!input || !(inputToken.reserve && outputToken.reserve)" @click="swap()" class="stake-btn button w-24 shadow-md inline-block mr-1 mb-2 bg-theme-1 text-white inline-flex items-center"
                                style="transition: all 0.20s ease-in-out; background-image: linear-gradient(45deg, #fd6035 0%, #f75878 100%); box-shadow: 0 3px 6px rgba(0, 0, 0, .3), inset 0 0 10px 3px rgba(0, 0, 0, .2), 0 3px 20px #f6597282, 0 3px 35px rgba(250, 95, 59, 0.48); width: 94%;
                            height: 37px;width: 90%;margin: 0;color: #fff9f885;font-size: 20px;">
                                <span class="btn-usertransfer-txt" style="margin: 0px auto;color: #c5d6f3;">
                                    <span v-if="!input && inputToken.reserve && outputToken.reserve">Enter an amount </span> 
                                    <span v-else-if="tradingtimer.distance > 0">Trading opens in {{tradingtimer.hours}}:{{tradingtimer.minutes}}:{{tradingtimer.seconds}}</span> 
                                    <span v-else-if="!inputToken.reserve || !outputToken.reserve">Not Available</span> 
                                    <span v-else>SWAP</span>
                                </span>
                                <div class="btn-usertransfer-load"
                                    style="padding-right: calc(50% - 8px); display:none">
                                    <i data-loading-icon="oval" data-color="white"
                                        class="w-4 h-4 ml-auto" style="display: none;">
                                    </i>
                                </div>
                            </button>
                        </div>
                        <div class="flex justify-between mb-2 mt-5" v-if="outputToken.address && input && inputToken.reserve && outputToken.reserve">
                            <span class="text-grey">Price Impact</span>
                            <span :class="'text-' + impactColor"> {{priceImpact.toFixed(2)}}% </span>
                        </div>
                        <div class="flex justify-between mb-2" v-if="outputToken.address && input && inputToken.reserve && outputToken.reserve">
                            <span class="text-grey">Total Fee</span>
                            <span class="text-success"> {{fee.toFixed(6)}} {{getTokenCode(inputToken.address)}} </span>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="intro-y col-span-12 md:col-span-4">
                <div class="box" style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">
                            
                            <img style="margin:auto;width:40px;border-radius: 100%;position: absolute;left : 5px;" class="mt-5"  :src="'./dist/imgs/' + TokenB_Detail.address + '.png'" alt=""><span>{{getTokenCode(TokenB_Detail.address) + ' Pool'}}</span>
                        </h2>
                    </div>
                    <div class="box-content p-5" style="color:#c5d6f3;">
                        <div v-if="timer.distance > 0" style="position: absolute;background-color: #000;top: 0;bottom: 0;right: 0;opacity: .9;left: 0;z-index: 101;text-align: center;">
                            <h1 style="font-size:35px;margin-top:80px;">{{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}</h1>
                        </div>
                        <div class="text-center" >
                            <span>Entry and Exit Fee : 10.00 %</span>
                        </div>
                        <div class="flex justify-between mt-2">
                            <span class="text-grey">Liquidity Lock Indicator  </span>
                        </div>
                        <div class="flex justify-between mt-5">
                            <span class="text-danger">Max remove : {{getMaxRemoveLiquidity(TokenB_Detail)}}</span>
                            <span class="text-success">Max add : {{getMaxAddLiquidity(TokenB_Detail)}}</span>
                        </div>		
                        <div class="w-full h-3 bg-gray rounded mt-3">
                            <div :class="'h-full  rounded ' + getLiquidityColor(TokenB_Detail)" v-bind:style="{width: getHourlyLiquidity(TokenB_Detail.hourlyAddedLiquidity,TokenB_Detail.hourlyRemovedLiquidity,TokenB_Detail.reserve,TokenB_Detail.minLock) + '%'}"></div>
                        </div>
                        <div class="text-center">
                            <span v-if="TokenA_Detail.hourlyDistance > 0 && tradingtimer.distance <= 0">Reset in {{getResetTimer(TokenB_Detail)}}</span>
                        </div>
                        
                       <!-- <input type="number" class="input pr-12 w-full border col-span-4 mt-2" placeholder="" v-model="TokenB_Detail.liquidity">
                        
                        <div class="flex justify-between mt-2">
                            <button class="button w-24 mr-1 mb-2 bg-success text-white" style="width:49%;" @click="addLiquidity(TokenB_Detail);" >ADD</button>
                            <button class="button w-24 mr-1 mb-2 bg-danger text-white" style="width:49%;" @click="RemoveLiquidity(TokenB_Detail)"> REMOVE</button>
                        </div>-->
                       <!-- <div class="flex justify-between mb-2">
                            <span class="text-grey">Reward Pool :</span>
                            <span class="text-grey"> {{TokenB_Detail.pool}} {{getTokenCode(TokenB_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Current Pool Size :</span>
                            <span class="text-grey"> {{TokenB_Detail.LPSupply}} {{getTokenCode(TokenB_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Your Pool Share (%)</span>
                            <span class="text-grey"> {{TokenB_Detail.myPoolShare}} {{getTokenCode(TokenB_Detail.address)}} ({{((TokenB_Detail.myPoolShare*100)/TokenB_Detail.LPSupply).toFixed(2)}} %)</span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Total Claimed </span>
                            <span class="text-grey"> {{TokenB_Detail.claimed}} {{getTokenCode(TokenB_Detail.address)}} </span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-grey">Unclaimed Earnings </span>
                            <span class="text-grey"> {{TokenB_Detail.earnings}} {{getTokenCode(TokenB_Detail.address)}} </span>
                        </div>

                       <!-- <div style="width: 100%; text-align: center;margin-top:20px;" class="mb-2">
                            <button class="stake-btn button w-24 shadow-md inline-block mr-1 mb-2 bg-theme-1 text-white inline-flex items-center" @click="claimEarning(TokenB_Detail)"
                                style="transition: all 0.20s ease-in-out; background-image: linear-gradient(45deg, #fd6035 0%, #f75878 100%); box-shadow: 0 3px 6px rgba(0, 0, 0, .3), inset 0 0 10px 3px rgba(0, 0, 0, .2), 0 3px 20px #f6597282, 0 3px 35px rgba(250, 95, 59, 0.48); width: 94%;
                            height: 37px;width: 90%;margin: 0;color: #fff9f885;font-size: 20px;">
                                <span class="btn-usertransfer-txt" style="margin: 0px auto;color: #c5d6f3;">
                                    Claim
                                </span>
                                <div class="btn-usertransfer-load"
                                    style="padding-right: calc(50% - 8px); display:none">
                                    <i data-loading-icon="oval" data-color="white"
                                        class="w-4 h-4 ml-auto" style="display: none;">
                                    </i>
                                </div>
                            </button>
                        </div>-->

                     
                    </div>
                </div>
            </div>

        </div>
      <!--  <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="intro-y col-span-12 md:col-span-3">
                <div class="box "  style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">Recent Transactions</h2>
                    </div>
                    <div class="mt-5" style="height: 422px;overflow: auto;">
                        <div class="intro-x" v-for="item in transactions" :key="item.index">
                            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                <div class="w-5 h-5 flex-none text-grey">
                                    <i v-if="item.icon == 'minus'" data-feather="minus" class="w-4 h-4 mr-1"></i>
                                    <i v-if="item.icon == 'plus'" data-feather="plus" class="w-4 h-4 mr-1"></i>
                                    <i v-if="item.icon == 'repeat'" data-feather="repeat" class="w-4 h-4 mr-1"></i>
                                </div>
                                <div class="ml-4 mr-auto">
                                    <div class="font-medium text-grey">{{item.title}}</div>
                                </div>
                                <div class="text-gray-600 text-xs">{{ elapsedTime(item.time) }}</div>
                            </div>
                        </div>                       
                    </div>
           
                </div>
            </div>
            <div class="intro-y col-span-12 md:col-span-6">
                <div class="box"  style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">Price Chart</h2>
                    </div>
                    <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;margin-top:100px">Coming soon</h2>

                </div>
            </div>

            <div class="intro-y col-span-12 md:col-span-3">
                <div class="box "  style="background:#3c3c63;min-height:500px;">
                    <div class="box-header flex flex-col sm:flex-row items-center p-5 border-b border-gray-200" style=" border: 0;padding: 12px;">
                        <h2 class="font-medium text-base mr-auto" style="color: #c5d6f3; font-weight: 600; text-align: center;margin: 0px auto;font-size: 22px; text-shadow: 0px 0px 5px #969cb81f;">FAQ</h2>
                    </div>

                    <div class="p-5" id="basic-accordion" style="max-height: 440px;overflow: auto;">
                        <div class="preview">
                            <div class="accordion">
                                <div class="accordion__pane border-b border-gray-200 pb-4 active"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">What is XSWAP?</a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: block; color: #c5d6f3;">XSWAP is a smart contract powered exchange mechanism that allows users to swap TRC20 tokens paired with T2X tokens. Users are able to put liquidity into the smart contract and in return receive dividend rewards from trading & Liquidity Provider fees based upon your size of the pool shares. </div>
                                </div>
                                <div class="accordion__pane border-b border-gray-200 py-4"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">What fees are associated with XSWAP?</a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: none;  color: #c5d6f3;">1.) A trading fee of 20% is charged on all buys and sells on XSwap.<br>
                                        2.) 10% will be used to buy back T2X from the daily auction each day and all purchased T2X will be burned<br>
                                        3.) 9% will be distributed to the current liquidity providers of the respective liquidity pools of the trading pair used.<br>
                                        4.) 1% will be sent to the Void dev team as part of the T2X and Void partnership.<br>
                                        5.) Liquidity Providers are charged 10% each time they enter and exit a Liquidity Pool.<br> </div>
                                </div>

                                <div class="accordion__pane border-b border-gray-200 py-4"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">How do I earn from XSWAP?</a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: none;  color: #c5d6f3;">There are various ways you can earn from XSWAP<br>
                                        1.) Sell T2X tokens for TRX.<br>
                                        2.) Stake T2X tokens in the Staking Portal and earn a % of the trading fee pool purchase daily.<br>
                                        3.) Provide Liquidity to either of the T2X or TRX token pools and earn dividends based upon your share of the overall pool. Users LP rewards are dripped at a 3% per day rate.<br>
                                        4.) Buy low & Sell High. Actively watching the token price buying when prices dip and selling when the price rises.</div>
                                </div>



                                <div class="accordion__pane border-b border-gray-200 py-4"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">Are my funds safe in XSWAP?</a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: none;  color: #c5d6f3;">XSWAP is completely smart contract driven and decentralized. All functions have been fully tested by the development team and working as designed. Your funds can not be accessed by anyone other than the owner of the wallet private keys. You are in control of your tokens.</div>
                                </div>

                                <div class="accordion__pane border-b border-gray-200 py-4"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">Will XSWAP have other trading pairs?
                                        </a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: none;  color: #c5d6f3;">While this is still up for debate the development team has coded in the ability for the contract admin to add in new additional pairs to trade against the T2X token. But since the trading fees are higher than traditional swap portals it would make more sense for the team to develop a secondary trc20 swap portal with normal trading fees allowing users to trade pairs freely. </div>
                                </div>





                                <div class="accordion__pane border-b border-gray-200 py-4"
                                    style="border-bottom: 5px solid #363655b5;">
                                    <a href="javascript:;" class="accordion__pane__toggle font-medium block"
                                        style="color: #f65968; font-weight: 600;">What is a Liquidity Pool?</a>
                                    <div class="accordion__pane__content mt-3 text-gray-700 leading-relaxed"
                                        style="display: none;  color:#c5d6f3;">To help make sense of what Liquidity is, how it works, what a liquidity pool is please see this article. 
                                        <a href="https://medium.com/@finematics/how-do-liquidity-pools-work-defi-explained-6d3418ea71fa" target="_blank"></a>https://medium.com/@finematics/how-do-liquidity-pools-work-defi-explained-6d3418ea71fa</div>
                                </div>

                            </div>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
     
    </div>

    </div>
    <!-- END: Content -->
    <!-- BEGIN: JS Assets-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js" ></script>

    <script src="shared/header.js"></script>
    <script src="js/core.js"></script>
    <script src="js/refer.js"></script>

    <script src="dist/js/app.js"></script>
    <!-- END: JS Assets-->

    <script>
        var app = new Vue({
            el: '#app',
            methods: {
                refreshTimeline(){
                    var self = this;
                    if(self.inputToken.address && self.outputToken.address){
                        window.tronWeb.event.getEventsByContractAddress(self.XSWAP_CONTRACT, {}).then(function(r){
                            self.transactions = [];

                            r.forEach(function(t){
                                if(t.result && window.tronWeb.address.fromHex(t.result.tokenB) == self.TokenB_Detail.address){
                                    var obj = {};
                                    if(t.name == "onSwap"){
                                        if(window.tronWeb.address.fromHex(t.result.tokenFrom) == self.TokenB_Detail.address){
                                            obj.title = (t.result.amountOut/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.tokenTo))).toFixed(2)  + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.tokenTo)) + ' Bought For ' + (t.result.amountIn/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.tokenFrom))).toFixed(2) + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.tokenFrom)) ;
                                            obj.icon = 'repeat';
                                            obj.category = 'success';
                                            obj.time = t.timestamp;
                                        }else{
                                            obj.title = (t.result.amountIn/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.tokenFrom))).toFixed(2)  + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.tokenFrom)) + ' Sold For ' + (t.result.amountOut/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.tokenTo))).toFixed(2) + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.tokenTo)) ;
                                            obj.icon = 'repeat';
                                            obj.category = 'danger';
                                            obj.time = t.timestamp;
                                        }
                                        self.transactions.push(obj);

                                    }
                                    else if(t.name == 'onAddLiquidity'){
                                        obj.title = (t.result.amount/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.to))).toFixed(2)  + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.to)) + ' Added to Liquidity' ;
                                        obj.icon = 'plus';
                                        obj.category = 'success';
                                        obj.time = t.timestamp;
                                        self.transactions.push(obj);
                                    }
                                    else if(t.name == 'onRemoveLiquidity'){
                                        obj.title = (t.result.amount/self.getTokenDecimals(window.tronWeb.address.fromHex(t.result.from))).toFixed(2)  + ' ' + self.getTokenCode(window.tronWeb.address.fromHex(t.result.from)) + ' Removed from Liquidity' ;
                                        obj.icon = 'minus';
                                        obj.category = 'danger';
                                        obj.time = t.timestamp;
                                        self.transactions.push(obj);
                                    }
                                }
                            });
                        
                        });
                    }
                },
                getTokenCode(adr){

                    if(!adr) return null;

                    var self = this;
                    
                    var res = _.find(self.tokens , function(t){
                        return t.adr == adr;
                    });

                    return res.code;

                }, 
                getTokenDecimals(adr){

                    if(!adr) return null;

                    var self = this;

                    var res = _.find(self.tokens , function(t){
                        return t.adr == adr;
                    });

                    return res.decimals;
                },
                getInputPrice( input_amount,  input_reserve, output_reserve){
                    if(!input_reserve || !output_reserve) return;

                    var numerator = input_amount*800*output_reserve;
                    var denominator = (input_reserve*1000) + input_amount*800;
                    return (numerator / denominator).toFixed(6);
                },
                getHourlyLiquidity(hourlyAddedLiquidity,hourlyRemovedLiquidity,reserve,min){
                    var res = Math.abs((((hourlyAddedLiquidity - hourlyRemovedLiquidity)*100)/(reserve*0.05 + min)));
                    return (res > 100) ? 100 : res;
                },
                getMaxAddLiquidity (token_detail){
                    var res =   ((((token_detail.reserve*0.05) + token_detail.minLock) - (token_detail.hourlyAddedLiquidity - token_detail.hourlyRemovedLiquidity))/this.getTokenDecimals(token_detail.address)).toFixed(2);
                    return  (res < 0) ? 0 : res;
                },
                getMaxRemoveLiquidity (token_detail){
                    var res =  ((((token_detail.reserve*0.05) + token_detail.minLock) - (token_detail.hourlyRemovedLiquidity - token_detail.hourlyAddedLiquidity))/this.getTokenDecimals(token_detail.address)).toFixed(2);
                    return  (res < 0) ? 0 : res;
                },
                getResetTimer(token_detail){

                    var LPMins = Math.floor((token_detail.hourlyDistance % (1000 * 60 * 60)) / (1000 * 60));
                    var LPSecs = Math.floor((token_detail.hourlyDistance % (1000 * 60)) / 1000);

                    return ('0'+LPMins).slice(-2) + ':' + ('0'+LPSecs).slice(-2)
                },
                addLiquidity(token_detail){
                    var self = this;
                    if(token_detail.address == 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                        self.contract.addLiquidity(self.TokenB_Detail.address,token_detail.address,0).send({
                            feeLimit:10000000,
                            callValue:window.tronWeb.toSun(token_detail.liquidity)
                        });
                    }else{
                        token_detail.contract.approve(self.XSWAP_CONTRACT,(token_detail.liquidity*self.getTokenDecimals(token_detail.address)).toLocaleString('fullwide', {useGrouping:false})).send({
                            feeLimit:10000000
                        }).then(function(){
                            self.contract.addLiquidity(self.TokenB_Detail.address,token_detail.address,token_detail.liquidity*self.getTokenDecimals(token_detail.address)).send({
                                feeLimit:10000000,
                            });
                        });
                    }		
                },
                RemoveLiquidity(token_detail){
                    var self = this;
                    self.contract.removeLiquidity(self.TokenB_Detail.address,token_detail.address,(token_detail.liquidity*self.getTokenDecimals(token_detail.address)).toLocaleString('fullwide', {useGrouping:false})).send({
                        feeLimit:10000000
                    });    
                },
                getLiquidityColor(token_detail){
                    return (token_detail.hourlyRemovedLiquidity > token_detail.hourlyAddedLiquidity) ? 'bg-danger' : 'bg-success';
                },
                claimEarning(token_detail){
                    var self = this;
                    self.contract.claimEarning(self.TokenB_Detail.address,token_detail.address).send({
                        feeLimit:10000000
                    });
                },
                swap(){
                    var self = this;
                    if(self.inputToken.address == 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                        self.contract.swap(self.TokenB_Detail.address,self.inputToken.address,0).send({
                            feeLimit:10000000,
                            callValue:window.tronWeb.toSun(self.input)
                        });
                    }else{
                        self.inputToken.contract.approve(self.XSWAP_CONTRACT,(self.input*self.getTokenDecimals(self.inputToken.address)).toLocaleString('fullwide', {useGrouping:false})).send({
                            feeLimit:10000000
                        }).then(function(){
                            self.contract.swap(self.TokenB_Detail.address,self.inputToken.address,(self.input*self.getTokenDecimals(self.inputToken.address)).toLocaleString('fullwide', {useGrouping:false})).send({
                                feeLimit:10000000,
                            });
                        });
                    
                    }

                },
                switchTokens(){
                    var outputToken = this.outputToken;
                    this.outputToken = this.inputToken;
                    this.inputToken = outputToken;

                    var input = this.input;
                    this.input = this.output;
                    this.output = input;
                }
                ,
                elapsedTime (startTime) {
                    const x        = new Date(startTime)
                    const now      = new Date()
                    let timeDiff = now - x
                    timeDiff    /= 1000

                    const seconds = Math.round(timeDiff)
                    timeDiff    = Math.floor(timeDiff / 60)

                    const minutes = Math.round(timeDiff % 60)
                    timeDiff    = Math.floor(timeDiff / 60)

                    const hours   = Math.round(timeDiff % 24)
                    timeDiff    = Math.floor(timeDiff / 24)

                    const days    = Math.round(timeDiff % 365)
                    timeDiff    = Math.floor(timeDiff / 365)

                    const years   = timeDiff

                    if (years > 0) {
                        return `${years + (years > 1 ? ' Years ' : ' Year ')}ago`
                    } else if (days > 0) {
                        return `${days + (days > 1 ? ' Days ' : ' Day ')}ago`
                    } else if (hours > 0) {
                        return `${hours + (hours > 1 ? ' Hrs ' : ' Hour ')}ago`
                    } else if (minutes > 0) {
                        return `${minutes + (minutes > 1 ? ' Mins ' : ' Min ')}ago`
                    } else if (seconds > 0) {
                        return seconds + (seconds > 1 ? ' sec ago' : 'just now')
                    }

                    return 'Just Now'
                }
            },
            data () {
                return {
                    input : null,
                    output : null,
                    tokenA_Balance:0,
                    tokenB_Balance:0,
                    fee:0,
                    priceImpact : 0,
                    tradingtimer : { hours : 0 , minutes : 0 , seconds : 0 , distance : 0},
                    impactColor:null,
                    transactions : [],
                    fee_percent :0,
                    timer : { hours : 0 , minutes : 0 , seconds : 0 , distance : 0},
                    liquidity :0,
                    XSWAP_CONTRACT: 'TSsr3H8LsXHPBugYJT7arR3e4XLca3gsUb',
                    tokens : [
                        {adr : 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb' , code : 'TRX' , decimals : 1e6 },
                        {adr : 'THsSSczBw9RRMJWYL5j2MtcgaPasL2xPGP' , code : 'T2X' , decimals : 1e8}
                    ],
                    TokenA_Detail :{
                        reserve : 0,
                        LPSupply : 0,
                        hourlyAddedLiquidity  : 0,
                        hourlyRemovedLiquidity : 0,
                        LPHourlyTimer : 0,
                        liquidity : 0

                    },
                  TokenB_Detail :{
                        reserve : 0,
                        LPSupply : 0,
                        hourlyAddedLiquidity  : 0,
                        hourlyRemovedLiquidity : 0,
                        LPHourlyTimer : 0,
                        liquidity : 0
                    }
                    
                 }
                 
            },
            watch: {
                input: function(val) {
                    this.output = (this.getInputPrice(val*this.getTokenDecimals(this.inputToken.address),this.inputToken.reserve,this.outputToken.reserve)/this.getTokenDecimals(this.outputToken.address)).toFixed(6);

                    var currentPrice = this.getInputPrice(1*this.getTokenDecimals(this.inputToken.address),this.inputToken.reserve,this.outputToken.reserve)/this.getTokenDecimals(this.outputToken.address);
                    this.priceImpact = ((currentPrice - (this.output/this.input))*100)/(this.output/this.input);
                    this.fee = this.input*(this.fee_percent/100);
                    if(this.priceImpact  < 1 ){
                        this.impactColor = 'success';
                    }else if(this.priceImpact  >= 1  && this.priceImpact  < 3 ){
                        this.impactColor = 'grey';
                    }else if(this.priceImpact  >= 3  && this.priceImpact  < 5 ){
                        this.impactColor = 'warning';
                    }else if(this.priceImpact  > 5 ){
                        this.impactColor = 'danger';
                    }
                }
            },
            created(){
                var self = this;

                self.TokenA_Detail.address = 'THsSSczBw9RRMJWYL5j2MtcgaPasL2xPGP';
                self.TokenB_Detail.address = 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'
        
                self.inputToken = self.TokenA_Detail;
                self.outputToken = self.TokenB_Detail;

                setInterval(function(){
                    self.refreshTimeline();
                },5000)
        
                setInterval(function(){
                    if(window.tronWeb && !self.contract){
                        window.tronWeb.contract().at(self.XSWAP_CONTRACT).then(function(c){
                            self.contract = c;
                        });   
                    }
                    if(window.tronWeb && !self.TokenB_Detail.ontract && self.TokenB_Detail.address  != 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                        window.tronWeb.contract().at(self.TokenB_Detail.address).then(function(c){
                            self.TokenB_Detail.contract = c;
                        });   
                    }

                    if(window.tronWeb && !self.TokenA_Detail.address.contract && self.TokenA_Detail.address  != 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                        window.tronWeb.contract().at(self.TokenA_Detail.address).then(function(c){
                            self.TokenA_Detail.contract = c;
                        });   
                    }
                    if(self.contract){
                        window.tronWeb.trx.getUnconfirmedBalance().then(function(r){ 
                            if(self.TokenA_Detail.address == 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                                self.TokenA_Detail.balance =  (r/1e6).toFixed(2);
                            }
                            
                            if(self.TokenB_Detail.address == 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                                self.TokenB_Detail.balance = (r/1e6).toFixed(2);
                            }
                        })
                        if(self.TokenA_Detail.address != 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){
                            self.TokenA_Detail.contract.balanceOf(window.tronWeb.defaultAddress.base58).call().then(function(r){
                                self.TokenA_Detail.balance = (r/self.getTokenDecimals(self.TokenA_Detail.address)).toFixed(2);
                            });
                        }

                        if(self.TokenB_Detail.address != 'T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb'){    
                            self.TokenB_Detail.contract.balanceOf(window.tronWeb.defaultAddress.base58).call().then(function(r){
                                self.TokenB_Detail.balance = (r/self.getTokenDecimals(self.TokenB_Detail.address)).toFixed(2);
                            });
                        }

                        if(self.TokenA_Detail.address && self.TokenB_Detail.address){
                            self.contract.getPairInfo(self.TokenB_Detail.address).call().then(function(r){
                                //console.log(r);

                                self.TokenA_Detail.reserve = r[0].toNumber();
                                self.TokenB_Detail.reserve = r[1].toNumber();
                                self.launchTime = r[2].toNumber();
                                self.tradingTime = r[3].toNumber();
                                self.TokenA_Detail.LPSupply = (r[4].toNumber()/self.getTokenDecimals(self.TokenA_Detail.address)).toFixed(2);
                                self.TokenB_Detail.LPSupply = (r[5].toNumber()/self.getTokenDecimals(self.TokenB_Detail.address)).toFixed(2);

                                var now = new Date();
                                var distance =   (self.launchTime*1000) - now.getTime();
                                self.timer.distance = distance;
                                self.timer.hours = Math.floor((distance % (1000 * 60 * 60 *24*7)) / (1000 * 60 * 60));
                                self.timer.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                self.timer.seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                self.timer.minutes = (( self.timer.minutes < 10 &&  self.timer.minutes >= 0) ? '0' +  self.timer.minutes :  self.timer.minutes);
                                self.timer.seconds = (( self.timer.seconds < 10 &&  self.timer.seconds >= 0) ? '0' +  self.timer.seconds :  self.timer.seconds);

                                self.tradingtimer.distance =  (self.tradingTime*1000) - now.getTime();
                                self.tradingtimer.hours = Math.floor((self.tradingtimer.distance % (1000 * 60 * 60 *24*7)) / (1000 * 60 * 60));
                                self.tradingtimer.minutes = Math.floor((self.tradingtimer.distance % (1000 * 60 * 60)) / (1000 * 60));
                                self.tradingtimer.seconds = Math.floor((self.tradingtimer.distance % (1000 * 60)) / 1000);
                                self.tradingtimer.minutes = (( self.tradingtimer.minutes < 10 &&  self.tradingtimer.minutes >= 0) ? '0' +  self.tradingtimer.minutes :  self.tradingtimer.minutes);
                                self.tradingtimer.seconds = (( self.tradingtimer.seconds < 10 &&  self.tradingtimer.seconds >= 0) ? '0' +  self.tradingtimer.seconds :  self.tradingtimer.seconds);
                            });

                            self.contract.getPairLiquidityInfo(self.TokenB_Detail.address).call().then(function(r){
                                self.TokenA_Detail.hourlyAddedLiquidity = r[0].toNumber();
                                self.TokenB_Detail.hourlyAddedLiquidity = r[1].toNumber();
                                self.TokenA_Detail.hourlyRemovedLiquidity = r[2].toNumber();
                                self.TokenB_Detail.hourlyRemovedLiquidity = r[3].toNumber();
                                self.TokenA_Detail.LPHourlyTimer = r[4].toNumber();
                                self.TokenB_Detail.LPHourlyTimer = r[5].toNumber();
                                self.TokenA_Detail.minLock = r[6].toNumber();
                                self.TokenB_Detail.minLock = r[7].toNumber();

                                var now = new Date().getTime();
                                // Find the distance between now and the count down date
                                self.TokenA_Detail.hourlyDistance = 60*60*1000 - (now - (self.TokenA_Detail.LPHourlyTimer*1000)); 
                                self.TokenB_Detail.hourlyDistance = 60*60*1000 - (now - (self.TokenB_Detail.LPHourlyTimer*1000)); 
                            });		

                            self.contract.balanceOf(window.tronWeb.defaultAddress.base58, self.TokenB_Detail.address).call().then(function(r){
                                self.TokenA_Detail.myPoolShare = r[0].toNumber()/self.getTokenDecimals(self.TokenA_Detail.address);
                                self.TokenB_Detail.myPoolShare = r[1].toNumber()/self.getTokenDecimals(self.TokenB_Detail.address);
                            });

                            self.contract.claimedOf(window.tronWeb.defaultAddress.base58,self.TokenB_Detail.address).call().then(function(r){
                                self.TokenA_Detail.claimed = r[0].toNumber()/self.getTokenDecimals(self.TokenA_Detail.address);
                                self.TokenB_Detail.claimed = r[1].toNumber()/self.getTokenDecimals(self.TokenB_Detail.address);
                            });

                            self.contract.estimateDividendsOf(window.tronWeb.defaultAddress.base58, self.TokenB_Detail.address).call().then(function(r){
                                self.TokenA_Detail.earnings = r[0].toNumber()/self.getTokenDecimals(self.TokenA_Detail.address);
                                self.TokenB_Detail.earnings = r[1].toNumber()/self.getTokenDecimals(self.TokenB_Detail.address);
                            });

                            self.contract.getPairPools(self.TokenB_Detail.address).call().then(function(r){
                                self.TokenA_Detail.pool = r[0].toNumber()/self.getTokenDecimals(self.TokenA_Detail.address);
                                self.TokenB_Detail.pool = r[1].toNumber()/self.getTokenDecimals(self.TokenB_Detail.address);
                            });

                            self.contract.getPairFees(self.TokenB_Detail.address).call().then(function(r){
                                self.fee_percent = r[0].toNumber() + r[1].toNumber() + r[2].toNumber();
                            });

                    }
                }
                self.$forceUpdate();
                },1000)
            }
        })
    </script>
    <style>.text-danger {
            color: #ea5455 !important;
        }
        .text-success {
            color: #28c76f !important;
        }
        .text-grey{
            color: rgb(197, 214, 243) !important;
        }
        .bg-success {
            background-color: #28c76f;
            
        }
        .bg-danger {
            background-color: #ea5455;
        }
        .bg-gray{
            background-color: #26263c94;
        }
    </style>
</body>

</html>
